.slope-line {
  stroke: #333;
  stroke-width: 1px;
  stroke-linecap: round;
}
#tabs {
    display: flex;
    justify-content: space-between;
}
.tab {
  position: relative;
  width: 100%;
  margin: auto;
}
.tablink {
  background-color: #000;

  color: white;
  text-align: center;

  border: none;
  outline: none;
  cursor: pointer;
  height: 30px;
  font-size: 13px;
  width: 100%;
  margin: auto;

}
.tablink:hover {
  background-color: #2e2e2e;
  transition: all 0.2s;
}

.dropdown {
  /* width: 20%; */
  /* display: inline-flex; */
  /* /width:auto; */
  margin:auto;
  position: absolute;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  left: 0;
  right: 0;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  background-color: #000;

  color: white;
  text-align: center;

  border: none;
  outline: none;
  cursor: pointer;
  height: 30px;
  font-size: 13px;
  width: 100%;
  margin: auto;
  display: block;
}

.grid line {
  stroke: #bbb;
}

.filter-container {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.filter {
  width: 80px;
  padding: 2px;
  margin: 10px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 100px;
}
.filter button {
  background: none;
  background-color: #ddd;
  outline:none;
  border:none;
  float:right;
  border-radius: 100px;
}
button:focus {outline:0;}

#chart {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
#chart-svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(58, 89, 194);
  color: white;
  border-radius: 10px;
}
